.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    object-fit: contain;
  }
input{
  width:450px;
  padding: 15px;
}
.search{
  color:rgb(212, 149, 67);

}
::placeholder{
  color:blue;
  font-size: 20px;

}
a:link{

  font-size: 25px;
  text-align-last: 10px;
  color:lightskyblue;
}
.postBox {
    padding: 15px;
    color: rgb(111, 32, 148);
    max-width: 450px;
    min-width: 450px;
    border-radius: 20px; 
    min-height: 200px;
    overflow: auto;
    max-height: 600px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
     background:  rgb(224, 174, 12); 
  
    box-shadow: 5px 4px 15px 5px #ebd691;
}

.postTitle {
    font-size: 20px;
    font-weight: bolder;
}

.postDescription {
    font-size: 15px;
    color:rgb(25, 25, 180);
}

.postLocation {
    font-size: 18px;
    font-size:medium;
    font-weight: bolder;
}

.postAuthor {
    font-size: 18px;
    font-weight: bold;

}

.postCreatedUpdated {
        font-size: 13px;
        font-weight: bold;
    
}

.postEdit {
    background: rgb(37, 113, 199);
    border: 1px solid black;
    padding: 2px;
    text-decoration: none;
    color: black;
    max-width:70px;
}

.postDelete {
    background: darkred;
    border: 1px solid black;
    padding: 2px;
     color: black;
    max-width:65px;
}

.userName {
    max-width: 100 px;
}

.popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 5px;
  }
  .popup-arrow {
    color: rgb(73, 29, 29);
  }
  [role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  
  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }

  *{
    margin: 0;
  }
  
  .header{
    text-align: center;
    background-color:rgb(18, 20, 53);
    padding: 20px;
    border-bottom: 1px solid rgb(83, 39, 39);
    font-style: oblique;
    font-family: cursive;
    font-size: 25px;
    color:rgb(252, 204, 47)
 
  }
 
  .register{
   padding-top:40px;
    color:rgb(0, 153, 255)
  }
  .username,.password,.submit{
    color:rgb(0, 153, 255);
    
    font-size:24px;
    font-weight: bold;
    background-color: rgb(238, 232, 212);
  }
  .login{
    color:rgb(0, 153, 255);
   padding-top:30px;
    font-size:30px;
  }
  .account{
    text-align:center;
    color:blue;
    padding:30px;
     }
  .submit{
    width:100px;
    border-radius: 10px;
    cursor:pointer;
    text-align:center;
    margin:auto;
    padding:10px;
    
    display: flex;
    justify-content: center;
  }
  input{
    border-color: rgb(92, 175, 252);
    border-radius: 8px;
    background-color: rgb(224, 174, 12);
  }